@charset "utf-8";





article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}

article, aside, body, footer, 
h3, h4, header, html, img, 
li, nav, nav a, ol, p, ul {
   
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}


/* Set the default page element styles */



nav ul {
   list-style: none;
   list-style-image: none;
}

nav a {
   text-decoration: none;
}

